<%= form_for @gift_card do |f| %>
<div id="gift-cards">
  <section id="looks">
    <div class="box">
      <h3>What should your eGift Card look like?</h3>
      <h4>Personalize your card to make your recipient feel special!</h4>
      <div id="img-list">
        <% @card_images.each do |image| %>
        <img src="<%= image.thumbnail_url %>" alt="" data-id="<%= image.id %>" data-large-url="<%= image.image_url %>">
        <% end %>
      </div>  
      <img src="<%= @card_images.first.image_url %>" alt="" id="featured">
      <%= f.hidden_field :image_id, value: "" %>
      <%= f.text_area :note, placeholder: "Add your email message...", cols: 30, rows: 10 %>
    </div>
  </section>
  <section id="how-much" style="min-height:240px;">
    <div class="box">
      <h3>How much would you like to gift?</h3>
      <h4>Choose an amount between $25 - $250 USD. You can add multiple personalized cards to your cart.</h4>
      <div id="left">
        <h5>Select an amount:</h3>
        <ul id="price-list">
          <% @gift_card_variants.each_with_index do |gcv, i| %>
            <li data-value="<%= gcv.id %>" class="<%= 'selected' if i == 0 %>">$<%= gcv.price.to_i %></li>
          <% end %>
        </ul>
        <div class="hide">
          <% @gift_card_variants.each_with_index do |gcv, i| %>
            <%= f.radio_button(:variant_id, gcv.id, checked: i == 0) %>
          <% end %>
        </div>
      </div>
      <% unless @gift_subscriptions.blank? #dont render this until the monthly option is ready %>
      <div id="right">
        <h5>Or give a Gift Subscription instead:</h5>
          <% @gift_subscriptions.each do |sub| %>
            <%= f.radio_button(:variant_id, sub.id, checked: false) %>
            <p><%= sub.option_values.first.presentation %> subscription (<%= sub.price %>)</p><br>
          <% end %>
      </div>
      <% end %>
    </div>
  </section>
  <section id="delivery">
    <div class="box">
      <h3>Where would you like to deliver your eGift Card?</h3>
      <h4>Send the eGift Card directly to your friend's email inbox. It will typically be delivered within minutes. <br> You'll be notified as soon as your friend views their gift.</h4>
      <div class="item">
        <h3>From</h3>
        <label for="g-name">Purchaser Name*</label>
        <%= f.text_field :sender_name, id: "g-name", class: "validate-check" %>
        <% if false #disable date picker for now %>
        <h3>Deliver on</h3>
        <label for="datepicker">Send the eGift card right away or up to 12 months in the future</label>
        <%= f.text_field :send_date, id: "datepicker", class: "validate-check" %>
        <img src="https://s3.amazonaws.com/prizecandle_production_assets/assets/august2014/calendar.png" alt="" id="calendar-icon">
        <% else %>
        <%= f.hidden_field :send_date, value: Date.today %>
        <% end %>
      </div>
      <div class="item">
        <h3>To</h3>
        <label for="r_name">Recipient Name*</label>
        <%= f.text_field :name, id: "r_name", class: "validate-check" %>
        <label for="r_email">Recipient Email*</label>
        <%= f.text_field :email, id: "r_email", class: "validate-check validate-email" %>
      </div>
    </div>
  </section>
  <section id="last">
    <div class="box">
      <%= hidden_field_tag :buy_another, "false" %>
      <input id="l" class="cta-submit validate-submit" type="submit" value="Add another giftcard" data-buy-another="true"></input>
      <input id="r" class="cta-submit validate-submit" type="submit" value="Add to Cart" data-buy-another="false"></input>
    </div>
  </section>
</div>
<% end %>
<!-- js -->
<script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
<script type="text/javascript">
$(document).ready(function(){

  //fire date picker jquery.ui
  $( "#datepicker" ).datepicker({minDate: 0, maxDate: "1Y"});

  //img select function
  $('#img-list > img').on("click", function(){
    $(this).addClass('selected').siblings().removeClass('selected');
    var current = $('#img-list > img.selected').data('large-url');
    $('img#featured').attr('src', current);
    $('#gift_card_image_id').attr("value", $(this).data("id"));
  });

  $('#right input:radio').on("click", function(){
    $('#price-list > li').addClass('selected').siblings().removeClass('selected');
  });

  //how much function
  $('#price-list > li').on("click", function(){
    $(this).addClass('selected').siblings().removeClass('selected');
    var current = $('#price-list > li.selected').data('value');
    $('#left input:radio[value="' + current + '"]').prop('checked', 'checked');
  });

  $('#new_gift_card .cta-submit').on('click', function(e){
    $('#buy_another').attr("value", $(this).data("buy-another"));
    if ($(this).hasClass("enabled")){
      $('#new_gift_card').submit();
    }
  });

  $('#img-list > img:first').click();
});
</script> 